dataDirectory=/mapr/mapr.test.act.gov.au/Data/
namingTestsDirectory=../NamingConventionTests/
streamsetsDirectory=/var/lib/sdc/pipelines/
#Database Reports
database_details=DATABASES,.db,DatabaseNameCompliance.py
database_locations=Landing,Processed
database_depths=3,4
database_type=
#View Reports
view_details=VIEWS,.view.drill,AccessViewsNameCompliance.py
view_locations=
view_depths=2,3
view_type=
#Volume Reports -Not yet functional, ignore
volume_details=VOLUMES,,
volume_locations=
volume_depths=0,1,2,3,4,5,6,7,8,9
volume_type=Path
